<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/chat_style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Collapsible Chat Panel</title>
</head>

<body>
    <button class="btn btn-primary toggle-button" type="button" id="toggleButton">
        <i class="fas fa-arrow-left"></i>
    </button>
    <div class="container">
            <div class="sidechatpanel" id="sidechatpanel">
                <div class="msger-header">
                    <span class="">LaborEconomicsBot</span>
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
                        style="float: right; margin-right: 15px;">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
                <div class="chat-container">
                    <div class="bot-message">
                        <div class="bot-icon"></div>
                        <div class="bot-message-bubble">
                            Ask any question related to labor ecomomics Data!
                        </div>
                    </div>
                </div>

                <form class="msger-inputarea" method="POST">
                    <div class="msger-input">
                        <input type="text" id="textInput" autocomplete="off" placeholder="Enter your message...">
                        <!-- Hidden field to capture any other value from the web page -->
                        <input type="hidden" name="hiddenField" id="hiddenField">
                        <button type="submit" class="msger-send-btn"></button>
                    </div>
                </form>
            </div>
        <!-- </div> -->
    </div>

    <script src='https://use.fontawesome.com/releases/v5.0.13/js/all.js'></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        const toggleButton = document.getElementById('toggleButton');
        const sidechatpanel = document.getElementById('sidechatpanel');

        toggleButton.addEventListener('click', () => {
            sidechatpanel.classList.toggle('show');
        });
    </script>
    <script>
        function closeNav() {
            document.getElementById("toggleButton").click();
        }   
    </script>
</body>

</html>